pandas
twitterscraper==0.2.7
numpy
twint
tweepy
seaborn
nltk
textblob
matplotlib
sklearn
emoji==1.7.0 
emojis
NLP-python
wordcloud
facebook-sdk
datasets
torch
datasets
google-api-python-client
google-auth-oauthlib
xgboost
transformer